*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat',sans-serif;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;

    background: hsl(227, 60%, 29%);
    height: 160px;
}

.hero h1{
    font-weight: bold;
    font-size: 34px;

    text-transform: uppercase;
    color: #FFFFFF;
}

/* label{
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;

    color: #313131;
} */

.form {
    margin-top: -24px;
    margin-bottom: 46px;
    width: 600px;
    

    background: #FEFEFE;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.form .card-body{
    padding: 25px 30px;
}

.form-control{
    background: #FEFEFE;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 8px;
}

.btn {
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    height: 40px;
    border-radius: 8px;
    background: hsl(227, 60%, 49%);
    color:#FFFFFF ;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

.results section{
    margin-bottom: 36px;
}